<!doctype html>
<html lang="en">
<head>
  <!-- 1. DYNAMIC SEO & META STACK (Handles title, descriptions, canonicals dynamically) -->
  {% include "seo.njk" %}

  <meta name="theme-color" content="#000000">

 <link rel="icon" type="image/png" href="../assets/img/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="../assets/img/" />
<link rel="shortcut icon" href="../assets/img/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="../assets/img/apple-touch-icon.png" />

  <link rel="preload" as="image" href="/assets/img/hero.webp" type="image/webp" fetchpriority="high">
  <link
  rel="preload"
  href="/assets/css/fonts.css"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'">

<noscript>
  <link rel="stylesheet" href="/assets/css/fonts.css">
</noscript>
  <link rel="stylesheet" href="/assets/css/styles.css">

</head>
<body>
{% include 'header.njk' %}
   {{content | safe}} 
{% include 'footer.njk' %}

</body>
</html>
