<script type="application/ld+json">
{
  "@context":"https://schema.org",
  "@graph":[

{% if page.url == "/" %}
{
  "@type":"WebSite",
  "@id":"https://bearlimo.com/#website",
  "url":"https://bearlimo.com/",
  "name":"Bear Limo"
},
{% endif %}

{% if service %}

{
  "@type":"Service",
  "@id":"https://bearlimo.com{{ page.url }}#service",
  "name":"{{ service.data.title }}",
  "url":"https://bearlimo.com{{ page.url }}",
  "description":"{{ service.data.seo.meta_description }}",
  "provider":{
    "@type":"TaxiService",
    "@id":"https://bearlimo.com/#business"
  }
},

{% else %}

{
  "@type":"LocalBusiness",
  "@id":"https://bearlimo.com/#business",

  {% if location %}
  "name":"Bear Limo – {{ location.data.title }}",
  {% else %}
  "name":"Bear Limo",
  {% endif %}

  "url":"https://bearlimo.com{{ page.url }}",

  "telephone":"{{ settings.top_bar.phone }}",
  "email":"{{ settings.top_bar.email }}",
  "priceRange":"$$$",

  "address":{
    "@type":"PostalAddress",
    "streetAddress":"32 Peachtree St NW",
    "addressLocality":"Atlanta",
    "addressRegion":"GA",
    "postalCode":"30303",
    "addressCountry":"US"
  },

  "image":"https://bearlimo.com/assets/img/hero.webp"
}

  {% if location %}
  "areaServed":{
      "@type":"City",
      "name":"{{ location.data.title }}"
  },
  {% else %}
  "areaServed":[
      {% for city in collections.locations %}
      {
        "@type":"City",
        "name":"{{ city.data.title }}"
      }{% if not loop.last %},{% endif %}
      {% endfor %}
  ],
  {% endif %}

  "image":"https://bearlimo.com/assets/img/hero.webp"
},

{% endif %}

{
  "@type":"BreadcrumbList",
  "@id":"https://bearlimo.com{{ page.url }}#breadcrumb",
  "itemListElement":[
    {
      "@type":"ListItem",
      "position":1,
      "name":"Home",
      "item":"https://bearlimo.com/"
    }

    {% if page.url != "/" %}

    ,
    {
      "@type":"ListItem",
      "position":2,
      "name":"{{ title }}",
      "item":"https://bearlimo.com{{ page.url }}"
    }

    {% endif %}
  ]
}

]
}
</script>